


*{
    margin:0;
    padding:0;
}


body {
      background: url(pattern-background-desktop.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: "Red Hat Display";
      font-size: 16px;
}


.container {
    border-radius: 5%;
    top:80px;
    position: relative;
    margin:0 auto;
    width:330px;
    height:580px;
    background-color:#FFFFFB;
    -moz-box-shadow: 5px 5px 15px 1px darkgrey;
    -webkit-box-shadow: 5px 5px 15px 1px darkgrey;
    box-shadow: 5px 5px 15px 1px darkgrey;
    text-align: center;
}

.illustration-container, .summary {

    width:330px;
    height:150px;

}
#illustration {

    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width:330px;
    height:150px;
}


h1 {
    top:40px;
    position: relative;
    text-align: center;
    font-size: 22px;
}

p {
    padding:0 40px 0 40px;
    top:50px;
    position: relative;
    text-align: center;
}

#song-container {

    -webkit-border-radius: 5px;
    -moz-box-shadow: 5px;
    box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top:80px;
    position: relative;
    background-color: #d6d9df;
    margin:0 auto;
    width:300px;
    height:90px;
}
#icon {
    position: relative;
    padding:0 5px 0 15px;
}
.icon-and-text-container {
    display: flex;
    justify-content: center;
}

h3 {
    left:10px;
    position: relative;
    top:15px;
}

h4 {
    color:grey;
    top:40px;
    left:-85px;
    position: relative;
}

#icon {
    top:15px;
    position: relative;
    width:50px;
    height:50px;
}
.plan-container {
    top:10px;
    position: relative;
    width:100px;
    height:50px;
    background-color: chocolate;
}

#change {
    position: relative;

    left:50%;
}


#payment {
    top:100px;
    background-color: blue;
    color:#ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 11px 15px 5px #E3dEFC;
    box-shadow: 2px 11px 15px 5px #E3dEFC;
}

#cancel {
    display: block;
    width:280px;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    color:black;
    position: relative;
    top:110px;
}

.btn {
    display: block;
    text-decoration: none;
    width:280px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
